{% extends 'TMBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | {{title}}{% endblock title %}

{% block tm_blog_body %}

 <div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="maincontent-area">
    <br><br><br>
    <div class="container">
    {# ==================================================== CORPS DE LA PAGE =================================================== #}

    {# ================================================= FIN DU CORPS DE LA PAGE ================================================ #}
    </div>
</div>

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
</div>
   

{% endblock tm_blog_body %}